<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}О используемых технологиях{% endblock %}
{% block content %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Технологии
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Основные технологии:
                    <ul type="disc">
                        <li>Python</li>
                        <li>Django</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Данный сайт является учебным проектом для изучения фрейморвка  Django для языка Python.</p>
            <p>При его создании использовался Django ORM для работы с базой данных. Также с помощью возможностей Django
            были созданы формы для регистрации и автоизации пользователей, возможность создания и редактрования постов,
            а также возможность навигации по страницам</p>
              <p>Для визуальной составляющей сайта (так как мы всё так бэки, а не фронты <span>🙃</span>) использовался Bootstrap.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}